@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar{
  display: none;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 m-0;
  }
  h1 {
    @apply font-bold text-[400] lg:text-[10rem] md:text-[7rem] text-[7vh] m-0 p-0 font-anton tracking-wide;
  }
  h2{
    @apply font-bold text-[400] m-0 p-0 font-kanit tracking-wide;
  }
  input {
    @apply bg-[#D9D9D9] text-black pl-2 h-[2rem] outline-none;
  }
  textarea{
    @apply font-kanit
  }
  button{
    @apply font-bold text-[400] font-montserrat
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
